.carousel:hover{
    transition: all 0.5s ease;
}
.item:hover {
    padding-top: 92px;
    cursor: pointer;
    box-shadow: 0px 12px 30px 0px rgba(0, 0, 0, 0.2);
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}
.contact{
    background-image: url('../images/last.png');
    background-size: cover;
    width:100%;
    overflow-x: hidden;
  

}
.vicky{
    display: -webkit-box;
    display: flex;
}
